#calculator-div {
  display: inline-block;
}

h3 {
  text-align: right;
}

#calculator-buttons {
  display: flex;
}

#numberPad {
  display: inline-block;
}

#numberPad button {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.row4 {
  text-align: center;
}

#operator-buttons {
  display: grid;
}

#operator-buttons button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}